
<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">GOPAL HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/adminlogin">Back</a>
        </li>

        
        
      </ul>
      
    </div>

  </nav>
  <br>
<div class="container">
    <div class="text-center">
        <h1>Admin Registration </h1>
        <h6>Please Set Username & Password</h6>
    </div>
    <form (submit)="registerAdmin()">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label" ><h6>Username</h6></label>
            <input type="text" [(ngModel)]="admin.username"placeholder="Enter username" name="username" class="form-control" id="username" required>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label" ><h6>Mobile</h6></label>
            <input type="text" [(ngModel)]="admin.mobile" name="mobile" placeholder="Enter Mobile" class="form-control" id="mobile" required>
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label" ><h6>Password</h6></label>
            <input type="password" [(ngModel)]="admin.password" name="password" placeholder="Enter password" class="form-control" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary"style="margin: 5px;" routerLink="registerAdmin()">Register</button>
        <!-- <button style="margin: 5px;" class="btn btn-warning" type="button" routerLink="adminlogin">Register</button><br> -->

    </form>
</div>
