

/* Container Styles */
.container {
    margin: auto; /* Center container */
    padding: 20px;
    max-width: 1200px; /* Maximum width for larger screens */
    background-color: rgb(158, 219, 219);  /* White background for the container */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 10px 10px 10px rgb(120, 120, 120); /* Subtle shadow for depth */

    color: navy;
   
    border-radius: 30px;
     width: 500px;
     justify-items: center;
   
}
